.non-intersecting-information{
	background-color:#FFFFFF;
    height:75vh;
    position:relative;
    display:flex;
}

.non-intersecting-information-data-wrapper{
	height:100%;
	width:77.5%;
	position:relative;
	border: 1px solid lightgrey;
	padding: 1%;
}

.non-intersecting-information-data-header{
	height:7.5%;
	width:100%;
	position:relative;
	display:flex;
}

.non-intersecting-information-data-header-left{
	height:100%;
	width: 50%;
	position:relative;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.non-intersecting-information-data-header-right{
	height:100%;
	width: 50%;
	position:relative;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.non-intersecting-information-data{
	height:92.5%;
	width:100%;
	position:relative;
	display:flex;
	padding: 2%;
}

.non-intersecting-information-spacer{
	height:100%;
	width:2.5%;
	position:relative;
}

.non-intersecting-information-controls{
	position:relative;
	height:100%;
	width:20%;
	border: 1px solid lightgrey;
	padding: 1%;
}

.non-intersecting-information-data-left{
	position:relative;
	height:100%;
	width:50%;
}

.non-intersecting-information-data-right{
	position:relative;
	height:100%;
	width:50%;
}

.non-intersecting-information-controls-header{
	position:relative;
	height:7.5%;
	width:100%;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.non-intersecting-information-controls-content{
	position: relative;
	padding-top: 10%;
	height:92.5%;
	width:100%;
}



.non-intersecting-information-controls-selection{
	position:relative;
	height:10%;
	width:80%;
	margin:2%;
}

.non-intersecting-information-controls-expression{
	position:relative;
	height:15%;
	width:80%;
	margin:2%;
}

.non-intersecting-information-controls-genes{
	position:relative;
	height:25%;
	width:80%;
}

.non-intersecting-information-controls-table{
	position:relative;
	height:100%;
	width:100%;
}


.non-intersecting-detail {
	border : 5px solid transparent;
}

.non-intersecting-detail:hover{
	border : 5px solid red;	
	cursor: pointer;
}

.non-intersecting-detail.matrix_nonIntersecting {
	border : 5px solid transparent;
}

.non-intersecting-detail.matrix_nonIntersecting:hover{
	border : 5px solid transparent;	
	cursor: pointer;
}







