
.intersecting-wrapper {
	border : 5px solid transparent;
	-webkit-filter: grayscale(0%);
  	filter: grayscale(100%);

}

.intersecting-wrapper:hover {
	border : 5px solid red;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
}

.first-level-non-intersecting-wrapper {
	border : 5px solid transparent;
	-webkit-filter: grayscale(0%);
  	filter: grayscale(100%);
	
}

.first-level-non-intersecting-wrapper:hover{
	border : 5px solid red;	
	cursor: pointer;
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
}

