.selection-nonIntersecting{
	background-color:#FFFFFF;
    height:80vh;
    position:relative;
    display:flex;
}

.selection-nonIntersecting-diagrams{
	height:55%;
	width:100%;
	position:relative;
}

.selection-nonIntersecting-diagrams{
	height:100%;
	width:100%;
	position:relative;
}



.selection-nonIntersecting-profiles-wrapper{
	width:100%;
	height: 55%;
	border: 1px solid lightgrey;
	padding: 1%;

}

.selection-nonIntersecting-go-spacer{
	height:2.5%;
	width:100%;
	position:relative;
}

.selection-nonIntersecting-go-diagrams{
	height:42.5%;
	width:100%;
	position:relative;
	border: 1px solid lightgrey;
	padding: 1%;
}

.selection-nonIntersecting-diagrams-wrapper{
	height:100%;
	width: 77.5%;
	position: relative;
}

.selection-nonIntersecting-diagrams-header{
	height: 7.5%;
	width: 100%;
	position: relative;
	display: flex;
}

.selection-nonIntersecting-diagrams-header-dataset1{
	width:50%;
	height:100%;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.selection-nonIntersecting-diagrams-header-dataset2{
	width:50%;
	height:100%;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.selection-nonIntersecting-spacer{
	height:100%;
	width:2.5%;
	position:relative;
}

.selection-nonIntersecting-controls{
	height:100%;
	width:20%;
	position:relative;
	border: 1px solid lightgrey;
	padding: 1%;
}

.selection-nonIntersecting-controls-header{
	height:7.5%;
	width:100%;
	position:relative;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.selection-nonIntersecting-controls-content{
	height:92.50%;
	width:100%;
	position:relative;
}


.selection-nonIntersecting-diagrams-profiles{
	height:100%;
	width:100%;
	position:relative;
	display:flex;
}

.selection-nonIntersecting-diagrams-go-header{
	height:10%;
	width:100%;
	position:relative;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.selection-nonIntersecting-diagrams-go{
	height:100%;
	width:100%;
	position:relative;
	display:flex;
}

.selection-nonIntersecting-diagrams-profiles-dataset1{
	height:100%;
	width:50%;
	position:relative;
}

.selection-nonIntersecting-diagrams-profiles-dataset2{
	height:100%;
	width:50%;
	position:relative;
}

.selection-table-go-wrapper{
	height:100%;
	width:20%;
	position:relative;
}

.selection-nonIntersecting-table{
	height:100%;
	width:100%;
	position:relative;
}

.selection-nonIntersecting-go-menu{
	height:20%;
	width:100%;
	position:relative;
}

.selection-nonIntersecting-export{
	height:30%;
	width:100%;
	position:relative;
}



.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.selection-nonIntersecting-diagrams-go-molfunc-wrapper{
	height:100%;
	width:33%;
	position:relative;
	padding: 2%;
}

.selection-nonIntersecting-diagrams-go-molfunc{
	height: 100%;
	width: 100%;
	position:relative;
}

.selection-nonIntersecting-diagrams-go-bioproc-wrapper{
	height:100%;
	width:33%;
	position:relative;
	padding: 2%;
}

.selection-nonIntersecting-diagrams-go-bioproc{
	height: 100%;
	width: 100%;
	position:relative;
}

.selection-nonIntersecting-diagrams-go-cellcomp-wrapper{
	height:100%;
	width:33%;
	position:relative;
	padding: 2%;
}

.selection-nonIntersecting-diagrams-go-cellcomp{
	height: 100%;
	width: 100%;
	position:relative;
}

.bar-horizontal-svg{
	-webkit-transform: scaleX(-1) rotate(270deg);
	transform: scaleX(-1) rotate(270deg);

}